{% extends 'base.html' %}

{% block title %}Password reset | Recipe Garden{% endblock %}

{% block content %}

<h1>Reset Password</h1>
<hr>
<p>Forgot your password? Enter your email address below, and we'll send a password reset link to 
your inbox.</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}                    
    <button type="submit">Send email</button>
    <button type="button" onclick="window.location='{% url 'login' %}' ; return false;">Cancel</button>
</form>

{% endblock %}