{% extends 'base.html' %}
{% load static %}

{% block title %}Recipes that include {{ ingredient.name }}{% endblock %}

{% block content %}

<h1>Recipes that include <strong>{{ ingredient.name }}</strong> </h1>
<hr>

{% if recipe_list %}
  {% for row in recipe_list %}
    <!-- Picture and option to add to favorite -->
    <p><a href="{% url 'recipes:recipe_detail' row.recipe.id %}">{{ row.recipe.name }}</a></p>
    <p>{{ row.recipe.prep_time }} m</p>
    <p>{{ row.recipe.description|truncatechars:60 }}</p>
    <p>By {{ row.recipe.author.name }}</p>
    {% if row.recipe.picture %}
      <img src="{{ row.recipe.picture.url }}" alt="Recipe picture" style="width: 5%">
    {% else %}
      <img src="{% static 'icon.png' %}" alt="Picture not available" style="width: 5%">
    {% endif %}
    <hr>
  {% endfor %}
{% endif %}

{% endblock %}