{% extends 'base.html' %}
{% load static %}

{% block title %}{{ category.name }} recipes{% endblock %}

{% block content %}

<!-- Add search bar and search by ingredient link -->
<h1>{{ category.name }} recipes</h1>
<a href="{% url 'recipes:ingredient_list' %}">Search by ingredient</a>
<hr>

{% if recipe_list %}
  {% for recipe in recipe_list %}
    <!-- Picture and option to add to favorite -->
    <p><a href="{% url 'recipes:recipe_detail' recipe.id %}">{{ recipe.name }}</a></p>
    <p>{{ recipe.prep_time }} m</p>
    <p>{{ recipe.description|truncatechars:60 }}</p>
    <p>By {{ recipe.author.name }}</p>
    {% if recipe.picture %}
      <img src="{{ recipe.picture.url }}" alt="Recipe picture" style="width: 5%">
    {% else %}
      <img src="{% static 'icon.png' %}" alt="Picture not available" style="width: 5%">
    {% endif %}
    <hr>
  {% endfor %}
{% endif %}

{% endblock %}